@import "../defaults/color";


main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    article {
        border: 1px solid red;
        border-radius: 8px;
        overflow: hidden;
        margin: 20px 0px;
        background-color: $primary-color;
        padding: 24px;
        text-align: center;

        section {
            .service-image {
                width: 350px;
                border-radius: 16px;
            }
        }
    }
}

